{% extends 'base.html.twig' %}

{% block body %}
    {% block nav %}
        {{ parent() }}
    {% endblock %}
    <header class="masthead4" style="height: 1000px;">
        <div class="container h-50">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end" style="color: white;">
                    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center;" id="lab">Change password</h1>
                    <hr class="divider my-4" />
                    <p>Enter new password</p>
                    <form method="post">
                        <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password" required>
                        <input type="hidden" name="token" value="{{ token }}"><br>
                        <button class="btn btn-lg btn-primary" type="submit">
                            Change password
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </header>
{% endblock %}


